.shadow {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #ccc;
    -moz-box-shadow: 3px 3px #666;
    -webkit-box-shadow: 3px 3px #666;
    box-shadow: 3px 3px #666;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.inforcard{
    height: 420px !important;
    width: 400px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
 .button-fix{
    bottom: 5%;
    position: absolute;
} 



