.page-container{
    padding-left: 300px ;
    padding: 20px 5% 10px;
    margin: 20px;
    border: 2px solid rgb(54, 93, 165);
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgb(221, 218, 218);
    width: 80%;
    min-height: 70vh;
}
